<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
    <br>
    <h1><%= JSON.stringify(kingdom)%></h1>
    <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= kingdom.kingdomName %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= kingdom.getDistrict()%></h6>
              <p class="card-text"> Total Soldier :<%= kingdom.getSoldier() %></p>
            </div>
          </div>
    <form method="POST" action="/kingdoms/<%= kingdom.id %>">
    <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="name">
    </div>
    <div class="form-group">
    <label for="exampleInputPassword1">attack</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="attack">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <%- include('./partials/footer.ejs') %>
</body>
</html>