<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<style>
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
    </style>
<body>

  <h2>Nama Kingdom   : <%= data.kingdomName %></h2>
  <h2>District: </h2>
  <h2>Total Pasukan : </h2>
  <br><br>

  <h2>ADD SOLDIER</h2>
    <div>
        <form action="/soldiers/<%=data.id %>" method="POST">
          <label for="fname">Name</label>
          <input type="text" id="name" name="name" placeholder="Soldier Name">
      
          <label for="lname">Attack</label>
          <input type="text" id="attack" name="attack" placeholder="Soldier Attack">
    
          <input type="submit" value="Submit">
        </form>
      </div>

  <br>
  <h2>ADD DISTRICT</h2>
      <form action="/kingdoms/<%=data.id %>" method="post">

        <% district.forEach(e => { %>
          <label class="container">
              <input type="radio" name="districtId" value="<%= e.id %>"> <%=e.districtName %>  <br> 
          </label>
        <% }) %>
      
        <button type="submit" class="btn btn-outline-primary">Get District</button>
  </form>
  

</body>
</html>