<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kingdom Details</title>
</head>
<body>
    <!-- <h5><%= allDistricts %></h5> -->
    <h3 style="color:red"> <%= err %> </h3>
    <h2> <%= kingdomDetail.kingdomName %> </h2>
    <h3> <%= districtCheck(kingdomDetail.DistrictId) %> </h3>
    <h3>Add Soldier</h3>
    <form action="/soldiers/ <%= kingdomDetail.id %> " method="POST">
        <label for="">Name:</label>
        <input type="text" name="name" placeholder="Soldier Name">
        <label for="">Attack:</label>
        <input type="text" name="attack" placeholder="Soldier Attack">
        <button type="submit" value="Submit">Submit</button>
    </form>

    <h3>District</h3>
    <form action="/kingdoms/ <%= kingdomDetail.id %> " method="POST">
        <% allDistricts.forEach(e => { %>
            <input type="radio" name=" <%= e.districtName %> " value="male"> <%= e.districtName %> <br>
        <% }) %>
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>