<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
    <title>Kingdoms</title>
</head>
<body>
    <%- include('./partials/navbar.ejs') %>
        <br>
        <br>
      <%  kingdoms.forEach(kingdom => { %>
       <% if (kingdom.DistrictId) { %>
            <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"> <%= kingdom.kingdomName %></h5>
                      <a href="/kingdoms/<%= kingdom.id %> " class="card-link">detail</a>
                    </div>
       <% } else { %>
            <div class="card" style="width: 18erm; background-color: yellow;">
                    <div class="card-body">
                      <h5 class="card-title"> <%= kingdom.kingdomName %></h5>
                      <a href="/kingdoms/<%= kingdom.id %> " class="card-link">detail</a>
                    </div>
      <%  } %>
                
     <%   }) %>

    <%- include('./partials/footer.ejs') %>
</body>
</html>