<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <%- include ./partials/nav.ejs %>
    <table border="1">
        <tr>
          <th>Nama Kingdom</th>
          <th>Nama District</th> 
          <th>Total Soldier</th>
        </tr>
        <tr>
          <td><%= kingdom.kingdomName %></td>
          <td><%= kingdom.DistrictId %></td> 
          <td><%= getTotal(kingdom.Soldiers)%></td>
        </tr>
    </table>
    <br><br>
    <form action="/soliers/<%=kingdom.id%>" method="POST">
        Name:<br>
        <input type="text" name="nama"><br>
        Attack:<br>
        <input type="text" name="attack">
        <br><br>
        <input type="submit" value="add Soldier">
    </form>
    <br>
    <br><br>  
    <form action="/kingdoms/<%=kingdom.id%>" method="POST">
        <input type="radio" name="gender" value="male"> Male<br>
        <input type="radio" name="gender" value="female"> Female<br>
        <input type="radio" name="gender" value="other"> Other
    </form>
  
    <br>

  
</body>
</html>