<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Kingdom Detail</h2>    
  <table class="table">
    <thead>
      <tr>
        <th>Kingdom Name</th>
        <th>District</th>
        <th>totalSoldiers</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= kingdom.kingdomName %></td>
            <td>
                <%= kingdom.getDistrict()  %>
            </td>
            <td><%= kingdom.getSoldiers() %></td>
        </tr>
    </tbody>
  </table>

  <h2>Add Soldier</h2>
  <form action="/soldiers/<%= kingdom.id %>" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
      <label for="attack">Attack:</label>
      <input type="number" class="form-control" id="attack" name="attack">
    </div>
    <button type="submit" class="btn btn-default">Add Soldier</button>
  </form>
  
  <h2>District</h2>
    <form action="#" method="POST">
        <% districts.forEach(district => { %>
            <input type="radio" name="<%= district.districtName %>"><%= district.districtName %><br>
        <% }) %>
        <button type="submit" class="btn btn-default">Attack</button>
    </form>


</div>

</body>
</html>
