<%- include ./partial/header.ejs %>
<div class="container">
        <h2>Kingdoms</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Kingdom</th>
              <th>Option</th>
            </tr>
          </thead>
          <tbody>
              <% for (let i = 0 ; i< data.length; i++) { %>
                <% if (data[i].DistrictId) { %>
                  <tr class="warning">
                      <td><%= data[i].kingdomName %></td>
                      <td> <a href="/kingdoms/<%= data[i].id %>"> Details</a> </td>
                    </tr>
                <%} else { %>
                  <tr>
                    <td><%= data[i].kingdomName %></td>
                    <td> <a href="/kingdoms/<%= data[i].id %>"> Details</a> </td>
                  </tr>
                <% } %>
              <% } %>
          </tbody>
        </table>
      </div>
      
<%- include ./partial/footer.ejs %>