<%- include partials/header.ejs %>
<%- include partials/navbar.ejs %>
<table>
    <table>
        <tr>
            <th>Kingdom Name</th>
            <th>Distric Name</th>
            <th>Total Army</th>>
        </tr>
        
        <tr>
            <td><%= kingdom.kingdomName %></td>
            <td><%= kingdom.nameOfKing %></td>
            <td><%= kingdom.nameOfKing %></td>
        </tr>
    </table>
    <h1>Add Soldier</h1>
    <form action="/soldiers/<%= kingdom.id %>" method="POST">
        <label for="">Name</label>
        <input type="text" name="name">
        <label for="">Attack</label>
        <input type="number" name="attack">
        <button>Add Soldier</button>
    </form>

   
</table>