<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kingdom <%= dataSoldier.kingdomName %></title>
  </head>
  <body>
    <h1 align="center"> <%= dataSoldier.kingdomName %></h1>
    <table align="center">
      <tr>
        <td>
          <!-- kingdom detail -->
          <table>
            <tr>
              <td><%= dataSoldier.kingdomName%></td>
            </tr>
            <tr>
              <td>unassigned</td>
            </tr>
            <tr>
              <td>total soldier :
              <%= dataSoldier.Soldiers.length%></td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td colspan="2"> Add Soldier </td>
            </tr>
            <tr>
              <td> name </td>
              <td> attack </td>
            </tr>
            <form method="post">
            <tr>
              <td>
                <input type="text" name="name" value="">
              </td>
              <td>
                <input type="text" name="attack" value="">
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button type="submit"> add Soldier </button>
              </td>
            </tr>
          </form>
          </table>
        </td>
        <table>
          <form action="index.html" method="post">
            <tr>
              <% dataDistrict.forEach(item => { %>
                <input type="radio" value="<%= item.id%>"> <%= dataDistrict.districtName %>
              <% })%>
            </tr>
            <tr>
              <button type="submit" name="button"></button>
            </tr>
          </form>
        </table>
      </tr>
    </table>
  </body>
</html>
